{% extends "layouts/main.html" %}

{% set pageName="Error - What type of organisation do you work for?" %}

{% block beforeContent %}

    {{ govukBackLink({
        text: "Back",
        href: "javascript:window.history.back()"
    }) }}

    {{ govukErrorSummary({
      titleText: "There is a problem",
      classes: "error-margin",
      errorList: [
        {
          text: "Select one option",
          href: "#neworganisationType"
        }
      ]
    }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
<form novalidate method="post">
    {{ govukRadios({
      name: "[new][organisationType]",
      idPrefix: "[new][organisationType]",
      fieldset: {
        legend: {
          text: "What type of organsiation do you work for?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      value: data.new.organisationType,
      errorMessage: {
        text: "Select one option"
      },
      items: [
        {
          value: "A learning provider, for example a school, academy, college or further education provider",
          text: "A learning provider, for example a school, academy, college or further education provider"
        },
        {
          value: "A responsible body, for example an academy trust, mayoral strategic authority (MSA) or local authority (LA)",
          text: "A responsible body, for example an academy trust, mayoral strategic authority (MSA) or local authority (LA)"
        },
        {
          value: "A Department for Education partner organisation, for example an institute of technology (IoT) or an attendance action alliance",
          text: "A Department for Education partner organisation, for example an institute of technology (IoT) or an attendance action alliance"
        },
        {
          value: "A government department or agency, for example the Cabinet Office, Ofsted or Student Loans Company",
          text: "A government department or agency, for example the Cabinet Office, Ofsted or Student Loans Company"
        },
        {
          value: "The Department for Education",
          text: "The Department for Education"
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
      }) }}
      </form>

      <h2 class="govuk-heading-m">Further support</h2>
    <p>You can contact us via the <a href="">Customer Help Portal (opens in a new tab)</a> if you have any questions.</p>
  </div>
</div>

{% endblock %}
