{% extends "layouts/main.html" %}
{% set pageName="Monitor your school attendance" %}
{% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}

{% block beforeContent %}
    {{ govukBackLink({
        text: "Back",
        href: "#"
    }) }}

{% endblock %}

{% block content %}
<h1 class="govuk-heading-l">{{pageName}}</h1>

<div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
          View school attendance data (demo)
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-1" class="govuk-accordion__section-content">
      <p class="govuk-body"><a href="">View school attendance data</a></p>
      <p class="govuk-body"><a href="">Your attendance summary reports</a></p>
      <p class="govuk-body"><a href="">Absence bandings user guide on GOV.UK (opens in a new tab)</a></p>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
          Compare your attendance (demo)
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-2" class="govuk-accordion__section-content">
      <p class="govuk-body"><a href="">Compare your attenance</a></p>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
         Year 6 transition data download
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-3" class="govuk-accordion__section-content">
      <ul class="govuk-list">
        <li>
            <a class="govuk-link" href="#">Year 6 transition data</a>
        </li>
        <li>
            <a class="govuk-link" href="#">User guide on GOV.UK (opens in a new tab)</a>
        </li>
        </ul>
    </div>
  </div>
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <span class="govuk-accordion__section-button" id="accordion-default-heading-4">
          Monitor your school attendance - Engagement
        </span>
      </h2>
    </div>
    <div id="accordion-default-content-4" class="govuk-accordion__section-content">
      <p class="govuk-body">This is the content for How people read.</p>
    </div>
  </div>
</div>

{% endblock %}

