{% extends "layouts/main.html" %}
{% set pageName="View your education data (VYED)" %}
{% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}

{% block content %}

<div class="dfe-grid-container">
  <div class="dfe-card">
      <div class="dfe-card-container">
          <h3 class="govuk-heading-m">
             <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">16-18 Retention</a>
          </h3>
              <p>A short description for the card.</p>
     </div>
  </div>
        
  <div class="dfe-card">
      <div class="dfe-card-container">
          <h3 class="govuk-heading-m">
              <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Academy and schools financial reporting</a>
          </h3>
              <p>A short description for the card.</p>
      </div>
  </div>

  <div class="dfe-card">
      <div class="dfe-card-container">
          <h3 class="govuk-heading-m">
             <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Achievement and performance</a>
          </h3>
              <p>A short description for the card.</p>
     </div>
  </div>
</div>


<div class="dfe-grid-container">
  <div class="dfe-card">
      <div class="dfe-card-container">
          <h3 class="govuk-heading-m">
             <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Adult skills funding</a>
          </h3>
              <p>A short description for the card.</p>
     </div>
  </div>
        
  <div class="dfe-card">
      <div class="dfe-card-container">
          <h3 class="govuk-heading-m">
              <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Agency social worker data collection</a>
          </h3>
              <p>A short description for the card.</p>
      </div>
  </div>

  <div class="dfe-card">
      <div class="dfe-card-container">
          <h3 class="govuk-heading-m">
             <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Childrens services</a>
          </h3>
              <p>A short description for the card.</p>
     </div>
  </div>
</div>


<div class="dfe-grid-container">
  <div class="dfe-card">
      <div class="dfe-card-container">
          <h3 class="govuk-heading-m">
             <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">College financial reporting</a>
          </h3>
              <p>A short description for the card.</p>
     </div>
  </div>
        
  <div class="dfe-card">
      <div class="dfe-card-container">
          <h3 class="govuk-heading-m">
              <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Data quality assurance</a>
          </h3>
              <p>A short description for the card.</p>
      </div>
  </div>

  <div class="dfe-card">
      <div class="dfe-card-container">
          <h3 class="govuk-heading-m">
             <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Early years</a>
          </h3>
              <p>A short description for the card.</p>
     </div>
  </div>
</div>


<div class="dfe-grid-container">
  <div class="dfe-card">
      <div class="dfe-card-container">
          <h3 class="govuk-heading-m">
             <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Management information</a>
          </h3>
              <p>A short description for the card.</p>
     </div>
  </div>
        
  <div class="dfe-card">
      <div class="dfe-card-container">
          <h3 class="govuk-heading-m">
              <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Monitor your school attendance</a>
          </h3>
              <p>A short description for the card.</p>
      </div>
  </div>

  <div class="dfe-card">
      <div class="dfe-card-container">
          <h3 class="govuk-heading-m">
             <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Unit for future skills</a>
          </h3>
              <p>A short description for the card.</p>
     </div>
  </div>
</div>






{% endblock %}
