{% extends "layouts/main.html" %}
{% set pageName="View your education data (VYED)" %}
{% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">
    {{ govukButton({
      text: "Button text"
    }) }}

<div class="dfe-grid-container">
      <div class="dfe-card">
          <div class="dfe-card-container">
            <h3 class="govuk-heading-m">
                <a href="#" class="govuk-link govuk-link--no-visited-state dfe-card-link--header">Card title</a>
            </h3>
            <p>A short description for the card.</p>
          </div>
      </div>
    </div>



{% endblock %}
