{% extends "layouts/main.html" %}
{% set pageName="View your education data (VYED)" %}
{% from 'node_modules/dfe-frontend/packages/components/card/macro.njk' import card %}

{% block beforeContent %}

{{ govukBackLink({
    text: "Back",
    href: "#"
}) }}

{% set externalUserNoAccessBanner %}
  <p class="govuk-notification-banner__heading">You do not have access to any sub-services in the View your education data (VYED) service. Use our
    <a class="govuk-notification-banner__link" href="#">access guide</a> to request access.
  </p>
{% endset %}

{{ govukNotificationBanner({
  html: externalUserNoAccessBanner
}) }}

{% endblock %}

{% block content %}

<div class="moj-search govuk-!-padding-bottom-6">
  <form action="#" method="post">
    <div class="govuk-form-group">
      <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
        Find a product
      </label>
      <input class="govuk-input moj-search__input " id="search" name="search" type="search" aria-describedby="search-hint">
    </div>
    <button type="submit" class="govuk-button moj-search__button " data-module="govuk-button">
      Search
    </button>
  </form>
</div>



{% endblock %}
