{% extends "layouts/main.html" %}

{% set pageName="View your education data (VYED)" %}

{% block beforeContent %}
<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner"style="margin-top: 20px; margin-bottom: 10px;">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      We're updating View your education data (VYED)
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    <p class="govuk-notification-banner__heading">
      We’re making improvements to View your education data (VYED). Changes will appear gradually, and you can continue using VYED as normal.
    </p>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    <p>VYED helps organisations working with the Department for Education (DfE) make better decisions using the data they submit.</p>
    <p>You can use it to view interactive dashboards and reports based on the data your organisation's data.</p>
    <h2 class="govuk-heading-m">Before you start</h2>
    <p>You need a DfE Sign-in account to use VYED. You can <a href="">create a DfE Sign-in account (opens in a new tab) </a>if you do not have one.</p>
    <h2 class="govuk-heading-m">Guidance</h2>
    <p>Use the <a href="">access guide (opens in a new tab) </a>to help you to get access to the correct products on VYED. For more general information about VYED, read the <a href="">user guide (opens in a new tab)</a>.</p>

    
    {{ govukButton({
      text: "Start now",
      href: "/radio-buttons",
      isStartButton: true
    }) }}
 
    <h2 class="govuk-heading-m">Further support</h2>
    <p>You can contact us via the <a href="">Customer Help Portal (opens in a new tab)</a> if you have any questions.</p>
  </div>
</div>

{% endblock %}
